<div class="top">
	
	<div id="main">
			
				<div class="title">
					<%= image_tag("mobile/new/title.png", class:"title_img") %>
				</div>
			
				<div class="container-btn_gift clearfix">
					<%#= link_to new_mobile_user_path, {onclick:"ga('send', 'event', 'button', 'click', 'm 생일 선물 받기');", id:"gift_button"} do %>
					<%= link_to "#", id:"gift_button" do%>
					<%= image_tag("mobile/new/btn_birth.png", class:"btn_gift") %>
					<% end %>
				</div>
			
				<div class="container-product">
					<%= image_tag("mobile/new/img_product.png", class:"product") %>
				</div>
				<div class="container-view">
					<a href="/mobile/product"  class="container-product-detail"><%= image_tag("mobile/new/btn_view.png", class:"btn_product-detail") %></a>
					<%= image_tag("mobile/new/img_view.png", class:"view_bg") %>
				</div>
	</div>

</div>

<div class="middle">
			<div class="container-sub_title">
				<%= image_tag("mobile/new/sub_title.png", class:"sub_title") %>
			</div>
      
			<div class="container-sns">
				<a href="#" id="kakaotalk_share_link"><%= image_tag("mobile/btn_kakaotalk.png", class:"btn_kakaotalk") %></a>
				<a href="#" id="kakaostory_share_link"><%= image_tag("mobile/btn_kakaostory.png", class:"btn_kakaostory") %></a>
				<a href="#" id="facebook_share_link"><%= image_tag("mobile/btn_facebook.png", class:"btn_facebook") %></a>
			</div>
      
	  
			<div class="container-sum-sns clearfix">
				<div class="left">
					<a href="https://www.facebook.com/sum37.beauty?fref=ts" target="_blank">
						<%= image_tag("mobile/btn_sum_fb.png", class:"btn_sum_fb") %>
					</a>
					<a href="http://tinyurl.com/mx47enm">
						<%= image_tag("mobile/btn_sum_ks.png", class:"btn_sum_fb") %>
					</a>
				</div>
				<div class="right">
					<a href="http://su-m37.co.kr/mobile/store/nearStore.jsp" target="_blank">
						<%= image_tag("mobile/btn_sum_store.png", class:"btn_sum_fb") %>
					</a>
				</div>
			</div>
</div>

<div class="footer">
	<div class="wrapper-background">
		<p class=first>
			<%= image_tag("mobile/text_notes.png", class:"text_notes") %>
		</p>
		<p>
			<%= image_tag("mobile/text_copyrights.png", class:"text_copyrights") %>
		</p>
	</div>
</div>
