<div id="coupon_success">
	<div class="container-img">
		<%= image_tag("mobile/new/bg_coupon.png") %>
	</div>
	<div class="bottom">
		<%= image_tag("mobile/text_coupon_caution2.png", class:"text_coupon_caution2") %>
    <%= link_to update_coupon_path(@coupon.code), id: "coupon_confirm", "data-code" => @coupon.code do %>
		  <%= image_tag("mobile/btn_coupon_use_before.png", class:"btn_coupon_use_before") %>
    <% end %>
    </a>
	</div>

</div>
<%= form_tag "/" + @coupon.code, {method: :put, id: "coupon_form"} do %>
	<%= hidden_field_tag "coupon"%>
<% end %>