<div id="popup_product">
	<%= link_to "#", class: "b-close", rel: "modal:close" do %>
	<%= image_tag("pc/popup/close.png", class: "close") %>
	<% end %>
	<div>
		<ul class="navi clearfix">
			<li><%= image_tag("pc/popup/product/navi_01_on.jpg") %></li>
			<li><%= image_tag("pc/popup/product/navi_02_off.jpg") %></li>
		</ul>
		<div class="img">
			<%= image_tag("pc/popup/product/img_01.png") %>
		</div>
	</div>
</div>
