<div id="popup_product">
	<%= link_to "#", class: "b-close", rel: "modal:close" do %>
	<%= image_tag("pc/popup/close.png", class: "close") %>
	<% end %>
	<div>
		<ul class="navi clearfix">
			<li><%= link_to(image_tag("pc/popup/product/navi_01_on.jpg", id:"product_image1"),'#', id:"product1") %></li>
			<li><%= link_to(image_tag("pc/popup/product/navi_02_off.jpg", id:"product_image2"),'#', id:"product2") %></li>
		</ul>
    <div id="products_carousel" class="img">	
      	<div class="item"><%= image_tag("pc/popup/product/img_01.png", id:"product_image") %></div>
		</div>
	</div>
</div>
