<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="NEW FACE">
	<meta name = "viewport" content = "width=device-width, user-scalable=yes" />
	<meta property="og:url" content="https://<%= Rails.application.secrets.url%>" />
	<meta property="og:image" content="<%= asset_url("sns/facebook_share.jpg") %>" />
	<meta property="og:title" content="NEW FACE" />
	<meta property="og:description" content="첫 구매 고객님에게 셀 파워 넘버원 에센스(35ml)와 CC쿠션 미니어처를 선물로 드립니다."/>
	<title>::: OHUI ::: 오늘의 얼굴</title>
	<%= stylesheet_link_tag "mobile", media: "all"%>
	<%= javascript_include_tag "mobile"%>
	<%= csrf_meta_tags %>
	<script>(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
	    var fbds = document.createElement('script');
	    fbds.async = true;
	    fbds.src = '//connect.facebook.net/en_US/fbds.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(fbds, s);
	    _fbq.loaded = true;
	  }
	  _fbq.push(['addPixelId', '321585724662972']);
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', 'PixelInitialized', {}]);
	</script>
</head>
<body>
<%= yield %>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', '<%= Rails.application.secrets.ga_tracking_id%>', '<%= Rails.application.secrets.url %>');
	<% unless session[:referer].nil? %>
		ga('set', 'referrer', '<%= session[:referer] %>');
	<% end %>
	ga('send', 'pageview');
</script>
</body>
</html>
